# Browsers that we support

# Production browsers
> 0.5%
last 2 versions
Firefox ESR
not dead
not IE 11
not op_mini all

# Mobile browsers
iOS >= 12
Android >= 5

# Specific browsers
Chrome >= 90
Firefox >= 88
Safari >= 13
Edge >= 90
Samsung >= 14
